RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/overview$ overview.php?domain=$1 [L,QSA]
RewriteRule ^([^/]+)/traffic$ traffic.php?domain=$1 [L,QSA]
RewriteRule ^([^/]+)/countries$ countries.php?domain=$1 [L,QSA]
RewriteRule ^([^/]+)/system$ system.php?domain=$1 [L,QSA]
RewriteRule ^([^/]+)/referrer$ referrer.php?domain=$1 [L,QSA]
RewriteRule ^([^/]+)/online$ online.php?domain=$1 [L,QSA]
RewriteRule ^([^/]+)/visitors$ visitors.php?domain=$1 [L,QSA]
RewriteRule ^([^/]+)/map$ map.php?domain=$1 [L,QSA]
